<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetcalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetCalculator">
        <activity
            android:name=".CommissionActivity"
            android:label="WE Exclusive"
            android:parentActivityName=".CommissionQuestion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.budgetcalculator.CommissionQuestion" />
        </activity>

        <activity
            android:name=".CommissionQuestion"
            android:label="WE Exclusive"
            android:parentActivityName=".Rental">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.budgetcalculator.Rental" />
        </activity>
        <activity
            android:name=".Rental"
            android:label="WE Exclusive"
            android:parentActivityName=".RentalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.budgetcalculator.RentalActivity" />
        </activity>
        <activity
            android:name=".RentalActivity"
            android:label="WE Exclusive"
            android:parentActivityName=".InvestActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.budgetcalculator.InvestActivity" />
        </activity>
        <activity
            android:name=".InvestActivity"
            android:label="WE Exclusive"
            android:parentActivityName=".InvestQuestion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.budgetcalculator.InvestQuestion" />
        </activity>
        <activity
            android:name=".InvestQuestion"
            android:label="WE Exclusive"
            android:parentActivityName=".SixSalary">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.budgetcalculator.SixSalary" />
        </activity>
        <activity
            android:name=".SixSalary"
            android:label="WE Exclusive"
            android:parentActivityName=".salary_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.budgetcalculator.salary_activity" />
        </activity>
        <activity
            android:name=".salary_activity"
            android:label="WE Exclusive"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.budgetcalculator.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="WE Exclusive">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>